<!DOCTYPE html>
<html>
  <head>
    <title>User Registration Form</title>
  </head>
  <body>
    <form id="userForm" action="{{ url_for('add_user') }}" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <br><br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <br><br>
      <label for="clientID">Client ID:</label>
      <input type="text" id="clientID" name="clientID" required>
      <br><br>
      <label for="grantID">Grant ID:</label>
      <input type="text" id="grantID" name="grantID" required>
      <br><br>
      <label for="siteID">Site ID:</label>
      <input type="text" id="siteID" name="siteID" required>
      <br><br>
      <label for="assessmentType">Indicate Assessment Type:</label>
      <input type="text" id="assessmentType" name="assessmentType" required>
      <br><br>
      <label for="firstServices">[IF QUESTION 1 IS BASELINE] Enter the month and year when the client first received services under this grant for this episode of care:</label>
      <input type="text" id="firstServices" name="firstServices">
      <br><br>
      <label for="birthMonthYear">What is the client's month and year of birth?</label>
      <input type="text" id="birthMonthYear" name="birthMonthYear" required>
      <br><br>
      <label for="assessmentInterview">Was the assessment interview conducted?:</label>
      <input type="text" id="assessmentInterview" name="assessmentInterview" required>
      <br><br>
      <button type="submit">Submit</button>
    </form>    
  </body>
</html>